.btn {
    margin: 0 2px;
    width: 6em !important;
    /* padding: auto auto; */
    white-space: nowrap;
    /* text-overflow: ellipsis; */
    overflow-x: auto;
}

.btn:hover {
    opacity: 0.6;
}

.btn-category :active {
    color: white !important;
    background: black !important;
    transform: translateY(3px);
}

/* .btn-save:active {
    color: white !important;
    background: black !important;
    transform: translateY(3px);
} */

.brushBtnContainer {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: start; */
}

.brushBtn {
    /* margin-right: 15px; */
    /* display: flex;
    align-items: center; */
}

.brushToolContainer {
    max-width: 300px;
    margin: 0.5em 0 0.5em 0;
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: start; */
    /* justify-content: start;  */
}

.iconBtnContainer {
    margin: auto 0.5em;
    display: flex;
    align-items: center;
    justify-content:center;
}

.iconBtn {
    width: 24px !important;
    height: 24px;
    margin: auto auto;
    padding: auto auto;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.categoryEraserBtn {
    width: 32px !important;
    height: 32px;
    /* margin: auto auto; */
    padding: auto auto;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 15px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.undoBtn:active {
    color: white !important;
    background: black !important;
    /* transform: translateY(3px); */
}

.eraserBtn {
    width: 25px;
    height: 25px;
    padding: auto auto;
    border-radius: 12.5px;
    display: flex;
    align-items: center;
    justify-content:center;
} 

.brushSliderContainer {
    margin: auto 0.5em;
    /* padding: auto 1em; */
}

