.groupSelect {
    /* margin: 0 2px; */
    width: 9em;
}

.btnSelect {
    /* margin: 0 2px; */
    width: 10em;
}

.numInput {
    /* margin: 0 2px; */
    width: 4em;
}

.generateBtn {
    /* margin: 0 2px 3px 5px; */
}

.deleteBtn {
    /* margin: 0 1px; */
    /* padding-bottom: 5px; */
    /* align-items: center !important; */
}

.labelText {
    width: 20em;
    border-radius: 0;
}

.colorPicker {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* .edgeColorPicker {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none;
} */

.designContainer {
    margin: 1em auto;
    padding-left: 1em;
    padding-right: 1em; 
    border: 1px solid rgb(222, 226, 230);
    border-radius: 6px;
}

.edgeTag {
    width: 8em;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
}