.groupSelect {
    /* margin: 0 2px; */
    width: 9em;
}

.btnSelect {
    /* margin: 0 2px; */
    width: 10em;
}

.numInput {
    /* margin: 0 2px; */
    width: 4em;
}

.generateBtn {
    /* margin: 0 2px 3px 5px; */
}

.deleteBtn {
    /* margin: 0 1px; */
    /* padding-bottom: 5px; */
    /* align-items: center !important; */
}

.labelText {
    width: 20em;
    border-radius: 0;
}

.colorPicker {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.designContainer {
    border: 1px solid rgb(222, 226, 230);
    border-radius: 6px;
}