.videoTag {
    /* display: none; */
}

.canvasTag {
    /* display: none; */
}

.sliderValueInput {
    margin-left: 1em;
    width: 35%;
}



.playFpsInput {
    width: 25% ;
}

.videoUploaderContainer {
    width: 40em;
}

