.videoTag {
    /* display: none; */
}

.canvasTag {
    /* display: none; */
}

.pyscript {
    display: none;
}

.decodeInfo {

}

.sliderValueInput {
    margin-left: 1em;
    width: 40%;
}

.videoInput {
    width: 30
}

.playFpsInput {
    width: 20% ;
}